*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background-size: cover;
    color: black;
    font-family: Orbitron;
    text-align: center;
    max-width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-areas: "item4 item4 item1 item1 item2 item2 item3 item3"
    "item4 item4 item1 item1 item2 item2 item3 item3"
    "item4 item4 item1 item1 item2 item2 item3 item3"
    "item4 item4 item1 item1 item2 item2 item3 item3"
    "item4 item4 item5 item5 item5 item6 item6 item6"
    "item8 item8 item5 item5 item5 item6 item6 item6"
    "item9 item9 item5 item5 item5 item6 item6 item6"
    "item7 item7 item5 item5 item5 item6 item6 item6";
}

#grid {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
}

#item1 {
    background-color: skyblue;
    grid-area: item1;
}

#item2 {
    background-color: skyblue;
    grid-area: item2;
}

#item3 {
    background-color: skyblue;
    grid-area: item3;
}

#item4 {
    background-color: #EDEEC9;
    grid-area: item4;
    border: 2px solid black;
}

#item5 {
    background-color: skyblue;
    grid-area: item5;
}

#item6 {
    background-color: skyblue;
    grid-area: item6;
}

#item7 {
    background-color: skyblue;
    grid-area: item7;
}

#item8 {
    background-color: skyblue;
    grid-area: item8;
}

#item9 {
    background-color: skyblue;
    grid-area: item9;
}

button {
    font-family: Orbitron;
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}

.grid-item .image {
    width: 50px;
    height: 50px;
}

#gamesWonBtn {
    background: #4D9DE0;
    font-size: 60;
}

#gamesLostBtn {
    background: #E15554;
    font-size: 60;
}

#protoss {
    background: #E1BC29;
    font-size: 40;
}

#zerg {
    background: #7768AE;
    font-size: 40;
}

#terran {
    background: #3BB273;
    font-size: 40;
}

#reset {
    background: #EDEEC9;
    border: 10px, solid, black;
}

#save {
    background: #EDEEC9;
}

#load {
    background: #EDEEC9;
}

@keyframes press {
    95% {
      transform: scale(0.95);
    }
  }
  
  button:active {
    animation: press 0.8s;
  }